<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="1" 
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQshUI-y6ECts6wfx2dmH7IRLlqQj9HdXH4ww&usqp=CAU"
        cardTitle="NOVO HOMEM DE FERRO EM 3D"
        cardDescription="Marvel anuncia um novo homem de ferro."
        >
    </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="2"
           cardTitle="Nova série anunciada no Disney +"
           photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRK_X2TDh5wzqt7Hr0SwVPNxK0eWvSNIKIY9Q&usqp=CAU"
        >
        </app-small-card>
        <app-small-card
        Id="3"
        cardTitle="Novo Filme do pantera negra lançado em breve"
        photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvdG3UyTB5ChuJPDVMCOOOyAH42Z9n-FSuHQ&usqp=CAU"
        >
        </app-small-card
        
        >
        <app-small-card
        Id="4"
        cardTitle="Novo filme dos X-men esta em pós produção, afirma produtor"
        photoCover="https://midias.correiobraziliense.com.br/_midias/jpg/2022/07/22/675x450/1_xmen-26096415.jpeg?20220722171339?20220722171339"
        >
    
    </app-small-card>
    </div>
</div>
